streamlit==1.46.1
tensorflow==2.12.0
protobuf==3.20.3
huggingface-hub==0.22.2
pandas==2.1.3  # Downgraded for compatibility
numpy==1.23.5  # Version that works with all dependencies
Pillow==10.3.0
streamlit-option-menu==0.3.2
opencv-python-headless==4.9.0.80
rich==13.7.1
